* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
  font-family: 'Bungee', cursive;
  font-weight: normal;
}

body,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 16px;
  background-color: #182c61;
  color: #ecf0fe;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  color: #ecf0fe;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-list img {
  height: 64px;
}

.brand-list li {
  display: inline;
  margin-right: 8px;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 8px;
}

section {
  color: #182c61;
}

section p {
  margin-bottom: 8px;
}

.anime-front {
  height: 350px;
  margin-right: 8px;
}

button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  margin-left: 288px;
  padding: 8px;
}

textarea {
  margin-left: 288px;
  margin-right: 288px ;
  height: 347px;
  width: 447px;
}

footer {
  margin-top: 180px;
  background-color: #71047a;
  color: #ecf0f1;
  padding: 16px 0;
}

section h3 {
  margin-bottom: 16px;
  margin-left: 288px;
  font-family: 'Bungee', cursive;
}